<ion-header>
  <ion-toolbar class="modal-toolbar">
    <ion-title>Recuperar Contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()" color="dark">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding modal-content">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="recoverPassword()">
    <ion-item lines="none" class="input-item">
      <ion-label position="floating" class="input-label">Correo Electrónico</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-item *ngIf="resetPasswordForm.get('email')?.invalid && resetPasswordForm.get('email')?.touched" lines="none">
      <p class="error">Por favor, ingresa un correo electrónico válido.</p>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="resetPasswordForm.invalid" class="submit-button">
      Recuperar
    </ion-button>
  </form>
</ion-content>
