<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="custom-title">Pawsy - Aves</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding custom-content">
  <!-- Filtros y Orden -->
  <ion-row>
    <ion-col size="6">
      <ion-select placeholder="Filtrar por Categoría" [(ngModel)]="selectedCategory" (ionChange)="filterByCategory()">
        <ion-select-option *ngFor="let category of categories" [value]="category">{{ category }}</ion-select-option>
      </ion-select>
    </ion-col>

    <ion-col size="6">
      <ion-select placeholder="Ordenar por" (ionChange)="sortProducts($event)">
        <ion-select-option value="price-asc">Precio: Menor a Mayor</ion-select-option>
        <ion-select-option value="price-desc">Precio: Mayor a Menor</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <!-- Lista de productos -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let product of filteredProducts">
        <ion-card>
          <ion-img [src]="product.imagen || 'assets/default-image.jpg'" class="product-image"></ion-img>
          <ion-card-header>
            <ion-card-title class="product-title">{{ product.nombre }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p class="product-description">{{ product.descripcion }}</p>

            <!-- Opciones de peso en formato horizontal -->
            <div class="weight-options" *ngIf="product.id && weightOptionsMap[product.id]">
              <div *ngFor="let weight of weightOptionsMap[product.id]" class="weight-item" (click)="selectWeight(product, weight)" [class.selected]="isSelected(product, weight)">
                {{ weight.size }} kg
              </div>
            </div>

            <!-- Mostrar precio del peso seleccionado -->
            <div *ngIf="product.selectedWeight">
              <p class="selected-price"><strong>Precio:</strong> ${{ product.selectedWeight.price }}</p>
            </div>

            <ion-button expand="block" fill="outline" color="secondary" class="add-to-cart-button" (click)="addToCart(product)">
              Agregar al carrito
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
