/* Añadir márgenes entre las secciones para mayor claridad */
.weight-options {
    margin-top: 10px;
  }
  
  /* Mejorar la tabla para que se vea más organizada */
  .weight-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #f9f9f9;
  }
  
  /* Darle estilo a los encabezados */
  .weight-table th {
    padding: 8px;
    text-align: left;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
  }
  
  /* Darle estilo a las celdas */
  .weight-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  /* Agregar espacio entre los productos para mayor claridad */
  ion-item {
    margin-bottom: 15px;
  }
  
  /* Mejora para que las imágenes no sean muy grandes */
  ion-thumbnail {
    max-width: 60px;
    max-height: 60px;
  }
  