<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Lista de Productos</ion-title>
    <!-- Botón para agregar un nuevo producto -->
    <ion-buttons slot="end">
      <ion-button routerLink="/productos/product-add" color="secondary">
        Agregar Producto
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="products && products.length > 0">
    <!-- Envolvemos el contenido del producto en un ion-item con routerLink solo para los detalles -->
    <ion-item *ngFor="let product of products" class="product-item">
      <div [routerLink]="['/productos/product-detail', product.id]" style="width: 80%; display: flex;">
        <ion-thumbnail slot="start" class="thumbnail-image">
          <ion-img [src]="product.imagen ? product.imagen : 'assets/logo_pawsy.png'" class="product-image"></ion-img>
        </ion-thumbnail>

        <ion-label>
          <h2 class="product-title">{{ product.nombre }}</h2>
          <p class="product-description">{{ product.descripcion }}</p>

          <div class="weight-options">
            <h3>Opciones de Peso:</h3>
            <table class="options-table">
              <thead>
                <tr>
                  <th>Peso</th>
                  <th>Precio</th>
                  <th>Stock</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let option of product.weightOptions">
                  <td>{{ option.size }} kg</td>
                  <td>{{ option.price | currency:'CLP':'symbol' }}</td>
                  <td>{{ option.stock }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <p class="product-category">Categoría: <strong>{{ product.categoria }}</strong></p>
        </ion-label>
      </div>

      <!-- Botón para editar y eliminar en columna -->
      <div class="button-group">
        <ion-button fill="outline" color="primary" (click)="product.id ? editProduct(product.id) : null" slot="end">
          Editar
        </ion-button>
        <ion-button fill="outline" color="danger" (click)="product.id ? deleteProduct(product.id) : null" slot="end">
          Eliminar
        </ion-button>
      </div>
    </ion-item>
  </ion-list>

  <div *ngIf="products.length === 0" class="no-products">
    <p>No hay productos disponibles.</p>
  </div>

  <!-- Botón para agregar un nuevo producto en la parte inferior también si lo deseas -->
  <ion-button expand="full" color="secondary" routerLink="/productos/product-add">
    Agregar Nuevo Producto
  </ion-button>
</ion-content>
