<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar
    [(ngModel)]="filterTerm"
    (ionInput)="filterUsers($event)"
    placeholder="Buscar usuario">
  </ion-searchbar>

  <!-- Nueva lista con navegación a los detalles del usuario -->
  <ion-list *ngIf="filteredUsuarios.length > 0">
    <ion-item *ngFor="let usuario of filteredUsuarios" (click)="usuario.id ? goToUserDetail(usuario.id) : null">
      <ion-label>
        <h2>{{ usuario.nombre }}</h2>
        <p>{{ usuario.rol }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear" color="primary" (click)="editUser(usuario.id)" (click)="$event.stopPropagation()">
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="danger" (click)="deleteUser(usuario.id)" (click)="$event.stopPropagation()">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <!-- Botón para ver todos los usuarios -->
  <ion-button expand="block" color="primary" (click)="goToUserAll()" class="beautiful-button">
    Ver Todos los Usuarios
  </ion-button>
</ion-content>
